@font-face {
    font-family: "Dodge";
    src: url('../fonts/DODGE.ttf') format("truetype");
}

@font-face {
    font-family: "Bebas";
    src: url('../fonts/BebasNeue Bold.otf') format("truetype");
}

@font-face {
    font-family: "Candal";
    src: url('../fonts/Candal.ttf') format("truetype");
}

/* Universal */

/* Core */

#faq {
    position: absolute;
    top: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    background-color: #2B263A;
}

.fullscreen {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#foreground {
    height: 330%;
}

.faqBG {
    position: absolute;
    top: 100%;
    z-index: 1000000;
    height: 230%;
}

.background {
    z-index: -1000;
}

#faqStars {
    background-image: url("../img/faqStars.png");
}

#faqMeteor {
    background-image: url("../img/faqMeteor.png");
}

#background {
    background-image: url("../img/planets.png");
}

#stars {
    background-image: url("../img/stars.png");
}

#falcon {
    background-image: url("../img/falcon.png");
}

#meteor {
    background-image: url("../img/meteor.png");
}

#foreground {
    background-image: url("../img/foreground.png");
    background-position: left;
    z-index: 1000;
}

section {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.text {
    color: white;
}

#logo {
    position: fixed;
    background-size: cover;
    top: 3em;
    left: 3em;
    height: 5em;
    width: 5em;
    background-image: url("../img/logo.png");
    z-index: 10000199999;
}

#ticketsBtn {
    width: 9em;
    height: 3.7em;
    z-index: 100000000;
    position: absolute;
    right: 3em;
    top: 3.65em;
    background-image: url("../img/ticketsBtn.png");
    background-size: cover;
}

#footer {
    position: absolute;
    top: 313%;
    height: 8em;
    width: 100%;
    z-index: 100000000;
}

#footerText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

.footerLogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "f t g";
    align-items: center;
    grid-gap: 2em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0em;
    margin: auto;
    height: 50%;
    width: 10.5em;
}

.footerLogo {
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background-size: cover;
    background-color: transparent;
}

#facebook {
    grid-area: f;
    background-image: url("../img/facebookLogo.png");
}

#twitter {
    left: -0.25em;
    width: 2.5em;
    grid-area: t;
    background-image: url("../img/twitterLogo.png");
}

#github {
    grid-area: g;
    background-image: url("../img/githubLogo.png");
}

/* Venue Section */

#venue {
    background-color: #28315A;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

#venueInformation {
    background-color: #28315A;
    background-color: transparent;
}

/* Grids */

.timerGrid, .venueGrid {
    display: grid;
}

/* Timer */

#days {
    grid-area: d;
}

#hours {
    grid-area: h;
}

#minutes {
    grid-area: m;
}

#seconds {
    grid-area: s;
}

/* Desktop */

/* Timer */

#timer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "d h m s" "d h m s";
    align-items: start;
    list-style: none;
    padding: 13% 10% 0 10%;
    margin: 0;
}

.timerText {
    font-family: Dodge;
    font-size: 1.5em;
    position: relative;
    top: -1em;
    padding: 0;
    margin: 0;
}

.timerNumber {
    font-family: Bebas;
    font-size: 6em;
    padding: 0;
    margin: 0;
}

/* Title */

#title {
    position: relative;
    top: 0;
    font-family: "Dodge";
    font-size: 6em;
    width: 100%;
    padding: 7% 0 0 0;
    z-index: 1000;
}

#eventInfo {
    position: relative;
    top: -0.5em;
    font-family: "Bebas";
    font-size: 2em;
    z-index: 1000;
}

/* FAQ */

.faqGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    grid-row-gap: 5em;
    z-index: 999999999;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 6em;
    padding-bottom: 5em;
    height: 210%;
    width: 100%;
}

.faqQuestion {
    position: relative;
    bottom: 0;
    margin: auto;
    height: 370px;
    width: 290px;
}

.faqQuestion:hover {
    box-shadow: 0 -10px 100px rgba(138, 138, 138, 0.3); 
}

.questionBG {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 30px 195px;
    grid-row-gap: 0;
    height: 98%;
    width: 100%;
    background-color: #231F30;
}

.questionIcon {
    /* background-color: red; */
    color: white;
    margin: auto;
    position: relative;
}

.questionTitle {
    height: 100%;
    position: relative;
    top: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5em;
}

.questionText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 1em;
    height: 100%;
    line-height: 195px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    margin-right: 0.5em;
    line-height: normal;
}

.cyanMarker {
    background-color: #13C3D2
}

.redMarker {
    background-color: #FC68AB
}

.orangeMarker {
    background-color: #F49460
}

/* Venue */

.venueGrid {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "i t";
}

#venuePicture {
    background-image: url("../img/venue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: "i";
}

#venueInformation {
    grid-area: "t";
}

#venueText {
    height: 45%;
    font-family: Candal;
    color: white;
}

#map {
    width: 100%;
    height: 51%;
}

/* Tablet */

@media(max-width: 1024px) {
    /* Core */
    #foreground {
        z-index: -1000;
    }

    /* Timer */
    #timer {
        padding: 20% 10% 0 10%;
        margin: 0;
    }
    /* Title */
    #title {
        font-size: 4em;
        padding: 10% 0 0 0;
    }
    #eventInfo {
        font-size: 1.3em;
    }
    #logo {
        top: 2em;
        left: 2em;
        height: 5em;
        width: 5em;
    }
}

/* Phone */

@media(max-width: 768px) {
    /* Timer */
    #timer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "d h" "d h" "m s" "m s";
        padding: 10% 10% 0 10%;
    }
    .timerNumber {
        font-size: 4.5em;
    }
    .timerText {
        font-size: 1em;
    }
    /* Title */
    #title {
        font-size: 2em;
        padding: 13% 0 0 0;
    }
    #eventInfo {
        font-size: 1em;
    }
    /* Venue */
    .venueGrid {
        grid-template-columns: 1fr;
        grid-template-areas: "i" "t";
    }
    #logo {
        top: 1em;
        left: 1em;
        height: 3em;
        width: 3em;
    }
    .faqGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}